.main {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;

  &:first-child {
    align-items: center;
  }
}

.logo {
  width: 50px;
  margin: 0 auto;
}

.not-auth {
  display: block;
}
.auth {
  display: none;
}
#loading {
  margin: 0 auto;
  width: 25px;
  height: 25px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  display: none;
}

#save_article {
  margin-top: 0.5em;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.invalid-token {
  color: red;
  display: none;
}
